<div class=" root">
<h1>Employee  Information</h1>
<nav>
    <!-- <a routerLink="/" >Home</a> &nbsp; -->
  <a routerLink="/new" >New Employee</a> &nbsp;
  <a routerLink="/List">List of Employees</a>
</nav>
<!-- <app-new >
</app-new>
<app-list></app-list> -->
<router-outlet></router-outlet>
</div>
<!-- <div class="tp">
  <form #form="ngForm"  (ngSubmit)="onSubmit(form)"  >
   user id:     <input name="userId" type="text" ngModel  required #userId="ngModel"/><br><br>
   Id:       <input name="id" type="number" ngModel required #id="ngModel"/><br><br>
   title:  <input name="title" type="text" ngModel required #title="ngModel"/><br><br>
   Body:  <input name="body" type="text" ngModel required #body="ngModel"/><br><br>
   
    <button >Submit</button><br><br>

    
   {{data.userId}}
   {{data.id}}
   {{data.title}}
   {{data.body}}
  </form>
</div> -->


<!-- <div class="tp">
  <form #form="ngForm"  (ngSubmit)="onSubmit(form)"  >
   name:     <input name="name" type="text" ngModel  required #name="ngModel"/><br><br>
   id :       <input name="id" type="number" ngModel required #id="ngModel"/><br><br>
   address:  <input name="address" type="text" ngModel required #address="ngModel"/><br><br>  
  <button >Submit</button><br><br>

  </form>
</div> -->

<!-- <h2>
  Name List
</h2>
<br> <button (click)="onDelete(datas)">Delete</button> -->



<!-- <div><div>Id: {{datas.id}}  <br> Name: {{datas.name}} <br> Address: {{datas.address}}</div>
<button (click)="onDelete(datas)" >Delete</button>
</div> -->




<!-- <ul *ngFor="let datas of datass">
  <li>{{datas.name}}</li>
  <li>{{datas.id}}</li>
  <button (click)="onDelete(datas)" >Delete</button>
</ul> -->
<!-- <h2>
    Data List
  </h2> -->
  <!-- <div *ngIf="!value" (ngSubmit)="onUpdate(data)"> -->
  <!-- <ul *ngFor="let data of datas">
  
    <li>Id: {{data.id}}  <br> Name: {{data.name}} <br> Address: {{data.address}}</li> -->


<!-- <br>
    name:     <input *ngIf="value" [(ngModel)]="#n" required class="form-control"  type="text" ngModel  required #name="ngModel"/><br><br>
    id :       <input *ngIf="value" [(ngModel)]="#i" required class="form-control" type="number" ngModel required #id="ngModel"/><br><br>
    address:  <input *ngIf="value" [(ngModel)]="#ad" required class="form-control"  type="text" ngModel required #address="ngModel"/><br><br>
   <br>
    <button *ngIf="!value"  type="submit" class="btn btn-primary" (click)="onUpdate(n,i,ad)">Update</button>
  
  </ul>
</div> -->